{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ReCell| Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">	
<!-- Bootstrap style --> 
    <link id="callCss" rel="stylesheet" href="{% static 'store/themes/bootshop/bootstrap.min.css' %}" media="screen"/>
    <link href="{% static 'store/themes/css/base.css' %}" rel="stylesheet" media="screen"/>
<!-- Bootstrap style responsive -->	
	<link href="{% static 'store/themes/css/bootstrap-responsive.min.css' %}" rel="stylesheet"/>
	<link href="{% static 'store/themes/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
<!-- Google-code-prettify -->	
	<link href="{% static 'store/themes/js/google-code-prettify/prettify.css' %}" rel="stylesheet"/>
<!-- fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'store/themes/images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'store/themes/images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'store/themes/images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'store/themes/images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'store/themes/images/ico/apple-touch-icon-57-precomposed.png' %}">
	<style type="text/css" id="enject"></style>
</head>

<body onload="testfunc()">
<!-- Header -->
<div id="header">
<div class="container">
<div id="welcomeLine" class="row">
	<div class="span6">Welcome <strong>{{ first_name }}!</strong></div>
	<div class="span6">
	<div class="pull-right" id = "cc" style="display: block;">
		<span>&#8377;</span>
		<span class="btn btn-mini">{{credits}}</span>
		<a href="{% url 'cart'%}"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i>{{items}} Item(s) in your cart </span> </a> 
	</div>
	</div>
</div>
<!-- Navbar-->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="{% url 'index' %}"><img style="width:120px; height:45px" src="{% static 'store/themes/images/logo.png' %}" alt="ReCell"/></a>
    <form class="form-inline navbar-search" method="get" action="{% url 'search' %}" >
    {% csrf_token %}

    <input id="id_search" class="srchTxt" type="text" name="search" value="{{ query }}" />
    <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
    </form>
    <ul id="topMenu" class="nav pull-right">
	 <li class=""><a href="" id = "link1"></a></li>
	 <li class="">
	 	<script type="text/javascript">
	 		function testfunc(){
	 		var id = "{{id}}"
	 		var is_seller = "{{is_seller}}"
	 		if (id){
	 			document.getElementById("testingthis").innerHTML="LOGOUT";
	 			document.getElementById("link1").style.display = 'block';
	 			document.getElementById("cc").style.display = 'block';

	 		}
	 		else{
	 			document.getElementById('testingthis').innerHTML="LOGIN";
	 			document.getElementById("link1").style.display = 'none';
	 			document.getElementById("cc").style.display = 'none';

	 		}
	 		if(is_seller == 1){
	 			document.getElementById("link1").innerHTML="Add Item";
	 			document.getElementById("link1").href="{% url 'productReg'%}";

	 		}
	 		else{
	 			document.getElementById("link1").innerHTML="Your Orders";
	 			document.getElementById("link1").href="{% url 'orders'%}";

	 		}
	 	}
	 	</script>
	 <a href="{% url 'login' %}" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success" id = "testingthis"></span></a>
	</li>
    </ul>
  </div>
</div>
</div>
</div>
<!-- Header End -->
<!-- Main content -->
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar -->
	<div id="sidebar" class="span3">

		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			<li class="subMenu open"><a> CATEGORIES</a>
				<ul>
				<li><a class="active" href="{% url 'catResults' %}"><i class="icon-chevron-right"></i>Electronics</a></li>
				<li><a href="{% url 'catResults' %}"><i class="icon-chevron-right"></i>Hobby Equipment</a></li>
				<li><a href="{% url 'catResults' %}"><i class="icon-chevron-right"></i>Vehicles</a></li>
				<li><a href="{% url 'catResults' %}"><i class="icon-chevron-right"></i>Books</a></li>

				</ul>
			</li>

		<br/>

	</div>
<!-- Sidebar end -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="{% static 'store/index.html' %}">Home</a> <span class="divider">/</span></li>
		<li class="active">Registration</li>
    </ul>
	<h3> Registration</h3>	
	<div class="well">
	<!--
	<div class="alert alert-info fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	<div class="alert fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	 <div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div> -->
	<form class="form-horizontal" action="register" method="post">
        {% csrf_token %}
		<h4>Your personal information</h4>
{#		<div class="control-group">#}
{#		<label class="control-label">Title <sup>*</sup></label>#}
{#		<div class="controls">#}
{#		<select class="span1" name="days">#}
{#			<option value="">-</option>#}
{#			<option value="1">Mr.</option>#}
{#			<option value="2">Mrs</option>#}
{#			<option value="3">Miss</option>#}
{#		</select>#}
{#		</div>#}
{#		</div>#}
		<div class="control-group">
			<label class="control-label" for="id_first_name">First name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="id_first_name" name="first_name" placeholder="First Name">
			</div>
		 </div>
		 <div class="control-group">
			<label class="control-label" for="id_last_name">Last name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="id_last_name" name="last_name" placeholder="Last Name">
			</div>
		 </div>
		<div class="control-group">
		<label class="control-label" for="id_email">Email <sup>*</sup></label>
		<div class="controls">
		  <input type="text" id="id_email" name="email" placeholder="Email">
		</div>
	  </div>
	<div class="control-group">
		<label class="control-label" for="id_password">Password <sup>*</sup></label>
		<div class="controls">
		  <input type="password" id="id_password" name="password" placeholder="Password">
		</div>
	  </div>
		<div class="control-group">
		<label class="control-label" for="id_dob">Date of Birth <sup>*</sup></label>
		<div class="controls">
		  <input type="date" class="span2" id="id_dob" name="dob">
		</div>
	  </div>
        <div class="control-group">
		<label class="control-label" for="id_seller">Are you a Seller? <sup>*</sup></label>
		<div class="controls">
            <input type="radio" id = 'id_seller' name="seller" value="0" checked> No<br>
            <input type="radio" id = 'id_seller' name="seller" value="1" > Yes<br>

		</div>
	  </div>

	<div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
        <p>{{ error }}</p>
	 </div>

		<h4>Your address</h4>
{#		<div class="control-group">#}
{#			<label class="control-label" for="inputFname">First name <sup>*</sup></label>#}
{#			<div class="controls">#}
{#			  <input type="text" id="inputFname" placeholder="First Name">#}
{#			</div>#}
{#		</div>#}
{#		<div class="control-group">#}
{#			<label class="control-label" for="inputLname">Last name <sup>*</sup></label>#}
{#			<div class="controls">#}
{#			  <input type="text" id="inputLname" placeholder="Last Name"/>#}
{#			</div>#}
{#		</div>#}
{#		#}
{#		<div class="control-group">#}
{#			<label class="control-label" for="company">Company</label>#}
{#			<div class="controls">#}
{#			  <input type="text" id="company" placeholder="company"/>#}
{#			</div>#}
{#		</div>#}

		<div class="control-group">
			<label class="control-label" for="id_address">Address<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="id_address" name="address" placeholder="Address"/> <span>Street address, P.O. box, company name, c/o</span>
			</div>
		</div>

{#		<div class="control-group">#}
{#			<label class="control-label" for="address2">Address (Line 2)<sup>*</sup></label>#}
{#			<div class="controls">#}
{#			  <input type="text" id="address2" placeholder="Adress line 2"/> <span>Apartment, suite, unit, building, floor, etc.</span>#}
{#			</div>#}
{#		</div>#}
		<div class="control-group">
			<label class="control-label" for="id_city">City<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="id_city" name="city" placeholder="city"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_state">State<sup>*</sup></label>
			<div class="controls">
                <input type = "text" id="id_state" name="state" placeholder="state"/>
            </div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_zip_code">Zip / Postal Code<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="id_zip_code" name="zip_code" placeholder="Zip / Postal Code"/>
			</div>
		</div>

{#		<div class="control-group">#}
{#			<label class="control-label" for="country">Country<sup>*</sup></label>#}
{#			<div class="controls">#}
{#			<select id="country" >#}
{#				<option value="">-</option>#}
{#				<option value="1">Country</option>#}
{#			</select>#}
{#			</div>#}
{#		</div>	#}
{#		<div class="control-group">#}
{#			<label class="control-label" for="aditionalInfo">Additional information</label>#}
{#			<div class="controls">#}
{#			  <textarea name="aditionalInfo" id="aditionalInfo" cols="26" rows="3">Additional information</textarea>#}
{#			</div>#}
{#		</div>#}
{#		<div class="control-group">#}
{#			<label class="control-label" for="phone">Home phone <sup>*</sup></label>#}
{#			<div class="controls">#}
{#			  <input type="text"  name="phone" id="phone" placeholder="phone"/> <span>You must register at least one phone number</span>#}
{#			</div>#}
{#		</div>#}
		
		<div class="control-group">
			<label class="control-label" for="id_mobile">Mobile Phone </label>
			<div class="controls">
			  <input type="text"  name="mobile" id="id_mobile" placeholder="Mobile Phone"/>
			</div>
		</div>
		
	<p><sup>*</sup>Required field	</p>
	
	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Register" />
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>
<!-- Footer -->
	<div  id="footerSection">
	<div class="container">
		<p class="pull-right">&copy; ReCell</p>
	</div>
	</div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="{% static 'store/themes/js/jquery.js' %}" type="text/javascript"></script>
	<script src="{% static 'store/themes/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'store/themes/js/google-code-prettify/prettify.js' %}"></script>
	
	<script src="{% static 'store/themes/js/bootshop.js' %}"></script>
    <script src="{% static 'store/themes/js/jquery.lightbox-0.5.js' %}"></script>
	
</body>
</html>