{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootshop online Shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<!--Less styles -->
   <!-- Other Less css file //different less files has different color scheam
	<link rel="stylesheet/less" type="text/css" href="{% static 'store/themes/less/simplex.less' %}">
	<link rel="stylesheet/less" type="text/css" href="{% static 'store/themes/less/classified.less' %}">
	<link rel="stylesheet/less" type="text/css" href="{% static 'store/themes/less/amelia.less' %}">  MOVE DOWN TO activate
	-->
	<!--<link rel="stylesheet/less" type="text/css" href="{% static 'store/themes/less/bootshop.less' %}">
	<script src="{% static 'store/themes/js/less.js' %}" type="text/javascript"></script> -->

<!-- Bootstrap style -->
    <link id="callCss" rel="stylesheet" href="{% static 'store/themes/bootshop/bootstrap.min.css' %}" media="screen"/>
    <link href="{% static 'store/themes/css/base.css' %}" rel="stylesheet" media="screen"/>
<!-- Bootstrap style responsive -->
	<link href="{% static 'store/themes/css/bootstrap-responsive.min.css' %}" rel="stylesheet"/>
	<link href="{% static 'store/themes/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
<!-- Google-code-prettify -->
	<link href="{% static 'store/themes/js/google-code-prettify/prettify.css' %}" rel="stylesheet"/>
<!-- fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'store/themes/images/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'store/themes/images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'store/themes/images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'store/themes/images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'store/themes/images/ico/apple-touch-icon-57-precomposed.png' %}">
	<style type="text/css" id="enject"></style>
  </head>
<body onload="testfunc()">
<div id="header">
<div class="container">
<div id="welcomeLine" class="row">
	<div class="span6">Welcome <strong>{{ first_name }}!</strong></div>
	<div class="span6">
	<div class="pull-right">
		<span class="btn btn-mini">Your credits : {{credits}}</span>
	</div>
	</div>
</div>
<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar">
<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
  <div class="navbar-inner">
    <a class="brand" href="{% static 'store/index.html' %}"><img src="{% static 'store/themes/images/logo.png' %}" alt="Bootsshop"/></a>
		<form class="form-inline navbar-search" method="post" action="products.html" >
		<input id="srchFld" class="srchTxt" type="text" />
		  <select class="srchTxt">
			<option>All</option>
			<option>CLOTHES </option>
			<option>FOOD AND BEVERAGES </option>
			<option>HEALTH & BEAUTY </option>
			<option>SPORTS & LEISURE </option>
			<option>BOOKS & ENTERTAINMENTS </option>
		</select>
		  <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
    </form>
    <ul id="topMenu" class="nav pull-right">
	 <li class=""><a href="" id = "link1"></a></li>
	 <li class=""><a href="" id="link2"></a></li>
	 <li class="">
	 	<script type="text/javascript">
	 		function testfunc(){
	 		var id = "{{id}}"
	 		var is_seller = "{{is_seller}}"
	 		if (id){
	 			document.getElementById("testingthis").innerHTML="LOGOUT";
	 		}
	 		else{
	 			document.getElementById('testingthis').innerHTML="LOGIN";
	 		}
	 		if(is_seller){
	 			document.getElementById("link1").innerHTML="Add Item";
	 			document.getElementById("link1").href="{% url 'productReg'%}";
	 		}
	 		else{
	 			document.getElementById("link1").innerHTML="Your Orders";
	 			document.getElementById("link1").href="{% url 'orders'%}";

	 		}
	 	}
	 	</script>
	 <a href="{% url 'login' %}" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success" id = "testingthis"></span></a>
	<div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="false" >
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Login Block</h3>
		  </div>
		  <div class="modal-body">
			<form class="form-horizontal loginFrm">
			  <div class="control-group">
				<input type="text" id="inputEmail" placeholder="Email">
			  </div>
			  <div class="control-group">
				<input type="password" id="inputPassword" placeholder="Password">
			  </div>
			  <div class="control-group">
				<label class="checkbox">
				<input type="checkbox"> Remember me
				</label>
			  </div>
			</form>
			<button type="submit" class="btn btn-success">Sign in</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		  </div>
	</div>
	</li>
    </ul>
  </div>
</div>
</div>
</div>
<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">

	<div class="span9">
	<h4>Your Sales<small class="pull-right"> 40 products </small></h4>
	<hr class="soft"/>

{#	<form class="form-horizontal span6">#}
{#		<div class="control-group">#}
{#		  <label class="control-label alignL">Sort By </label>#}
{#			<select>#}
{#              <option>Product name A - Z</option>#}
{#              <option>Product name Z - A</option>#}
{#              <option>Price Highest - Lowest</option>#}
{#              <option>Price Lowest  Highest</option>#}
{#            </select>#}
{#		</div>#}
{#	  </form>#}

<br class="clr"/>
<div class="tab-content">
	<div class="tab-pane active" id="listView">
{#		<div class="row">#}
{#			<div class="span2">#}
{#				<img src="{% static 'store/themes/images/products/3.jpg' %}" alt=""/>#}
{#			</div>#}
{#			<div class="span4">#}
{#				<h4>Status : <span style="color:green">Order placed</span></h4>#}
{#				<h5>Customer name : <span> Nachiket</span></h5>#}
{#				<h5>Customer address : <span> Block 1,NITK Surathkal</span></h5>#}
{#				<hr class="soft"/>#}
{#				<h5>Product Name </h5>#}
{#				<p>#}
{#				Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -#}
{#				that is why our goods are so popular..#}
{#				</p>#}
{#				<a class="btn btn-small pull-right" href="{% static 'store/product_details.html' %}">View Details</a>#}
{#				<br class="clr"/>#}
{#			</div>#}
{#			<div class="span3 alignR">#}
{#			<form class="form-horizontal qtyFrm">#}
{#			<h3> $140.00</h3>#}
{#			<label class="checkbox">#}
{#				<input type="checkbox">  Adds product to compair#}
{#			</label><br/>#}
{##}
{#			  <a href="{% static 'store/product_details.html' %}" class="btn btn-large btn-success"> Confirm Order</a>#}
{#			  <a href="{% static 'store/product_details.html' %}" class="btn btn-large"><i class="icon-zoom-in"></i></a>#}
{##}
{#				</form>#}
{#			</div>#}
{#		</div>#}
{#		<hr class="soft"/>#}
        {% for prod in prods %}
		<div class="row">
			<div class="span2">
				<img src="{% static 'store/themes/images/products/1.jpg' %}" alt=""/>
			</div>
			<div class="span4">
            <h5>Category : <span> {{ prod.item_inventory.category }}</span></h5>
                {% if prod.item_status == 0  %}
				<h4>Status : <span style="color:green">Not Sold</span></h4>
                {% else %}
                <h4>Status : <span style="color:green">Sold</span></h4>
                    <h5>Customer name : <span> Nachiket</span></h5>
				<h5>Customer address : <span> Block 1,NITK Surathkal</span></h5>
                {% endif %}

				<hr class="soft"/>
				<h5>{{ prod.item_desc.name }} </h5>
				<p>
				{{ prod.item_desc.comments }}
				</p>
{#				<a class="btn btn-small pull-right" href="{% static 'store/product_details.html' %}">View Details</a>#}
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
				<h3> ${{ prod.item_desc.price }}</h3>


			</form>
			</div>
		</div>
		<hr class="soft"/>
        {% endfor %}
		<hr class="soft"/>
	</div>


</div>

{#	<a href="{% static 'store/compair.html' %}" class="btn btn-large pull-right">Continue Shopping</a>#}
{#	<div class="pagination">#}
{#			<ul>#}
{#			<li><a href="{% static 'store/#' %}">&lsaquo;</a></li>#}
{#			<li><a href="{% static 'store/#' %}">1</a></li>#}
{#			<li><a href="{% static 'store/#' %}">2</a></li>#}
{#			<li><a href="{% static 'store/#' %}">3</a></li>#}
{#			<li><a href="{% static 'store/#' %}">4</a></li>#}
{#			<li><a href="{% static 'store/#' %}">...</a></li>#}
{#			<li><a href="{% static 'store/#' %}">&rsaquo;</a></li>#}
{#			</ul>#}
{#			</div>#}
{#			<br class="clr"/>#}
</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
	<div  id="footerSection">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h5>ACCOUNT</h5>
				<a href="{% static 'store/login.html' %}">YOUR ACCOUNT</a>
				<a href="{% static 'store/login.html' %}">PERSONAL INFORMATION</a>
				<a href="{% static 'store/login.html' %}">ADDRESSES</a>
				<a href="{% static 'store/login.html' %}">DISCOUNT</a>
				<a href="{% static 'store/login.html' %}">ORDER HISTORY</a>
			 </div>
			<div class="span3">
				<h5>INFORMATION</h5>
				<a href="{% static 'store/contact.html' %}">CONTACT</a>
				<a href="{% static 'store/register.html' %}">REGISTRATION</a>
				<a href="{% static 'store/legal_notice.html' %}">LEGAL NOTICE</a>
				<a href="{% static 'store/tac.html' %}">TERMS AND CONDITIONS</a>
				<a href="{% static 'store/faq.html' %}">FAQ</a>
			 </div>
			<div class="span3">
				<h5>OUR OFFERS</h5>
				<a href="{% static 'store/#' %}">NEW PRODUCTS</a>
				<a href="{% static 'store/#' %}">TOP SELLERS</a>
				<a href="{% static 'store/special_offer.html' %}">SPECIAL OFFERS</a>
				<a href="{% static 'store/#' %}">MANUFACTURERS</a>
				<a href="{% static 'store/#' %}">SUPPLIERS</a>
			 </div>
			<div id="socialMedia" class="span3 pull-right">
				<h5>SOCIAL MEDIA </h5>
				<a href="{% static 'store/#' %}"><img width="60" height="60" src="{% static 'store/themes/images/facebook.png' %}" title="facebook" alt="facebook"/></a>
				<a href="{% static 'store/#' %}"><img width="60" height="60" src="{% static 'store/themes/images/twitter.png' %}" title="twitter" alt="twitter"/></a>
				<a href="{% static 'store/#' %}"><img width="60" height="60" src="{% static 'store/themes/images/youtube.png' %}" title="youtube" alt="youtube"/></a>
			 </div>
		 </div>
		<p class="pull-right">&copy; Bootshop</p>
	</div><!-- Container End -->
	</div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
	<script src="{% static 'store/themes/js/jquery.js' %}" type="text/javascript"></script>
	<script src="{% static 'store/themes/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'store/themes/js/google-code-prettify/prettify.js' %}"></script>

	<script src="{% static 'store/themes/js/bootshop.js' %}"></script>
    <script src="{% static 'store/themes/js/jquery.lightbox-0.5.js' %}"></script>

	<!-- Themes switcher section ============================================================================================= -->
<div id="secectionBox">
<link rel="stylesheet" href="{% static 'store/themes/switch/themeswitch.css' %}" type="text/css" media="screen" />
<script src="{% static 'store/themes/switch/theamswitcher.js' %}" type="text/javascript" charset="utf-8"></script>
	<div id="themeContainer">
	<div id="hideme" class="themeTitle">Style Selector</div>
	<div class="themeName">Oregional Skin</div>
	<div class="images style">
	<a href="{% static 'store/themes/css/#' %}" name="bootshop"><img src="{% static 'store/themes/switch/images/clr/bootshop.png' %}" alt="bootstrap business templates" class="active"></a>
	<a href="{% static 'store/themes/css/#' %}" name="businessltd"><img src="{% static 'store/themes/switch/images/clr/businessltd.png' %}" alt="bootstrap business templates" class="active"></a>
	</div>
	<div class="themeName">Bootswatch Skins (11)</div>
	<div class="images style">
		<a href="{% static 'store/themes/css/#' %}" name="amelia" title="Amelia"><img src="{% static 'store/themes/switch/images/clr/amelia.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="spruce" title="Spruce"><img src="{% static 'store/themes/switch/images/clr/spruce.png' %}" alt="bootstrap business templates" ></a>
		<a href="{% static 'store/themes/css/#' %}" name="superhero" title="Superhero"><img src="{% static 'store/themes/switch/images/clr/superhero.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="cyborg"><img src="{% static 'store/themes/switch/images/clr/cyborg.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="cerulean"><img src="{% static 'store/themes/switch/images/clr/cerulean.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="journal"><img src="{% static 'store/themes/switch/images/clr/journal.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="readable"><img src="{% static 'store/themes/switch/images/clr/readable.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="simplex"><img src="{% static 'store/themes/switch/images/clr/simplex.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="slate"><img src="{% static 'store/themes/switch/images/clr/slate.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="spacelab"><img src="{% static 'store/themes/switch/images/clr/spacelab.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="united"><img src="{% static 'store/themes/switch/images/clr/united.png' %}" alt="bootstrap business templates"></a>
		<p style="margin:0;line-height:normal;margin-left:-10px;display:none;"><small>These are just examples and you can build your own color scheme in the backend.</small></p>
	</div>
	<div class="themeName">Background Patterns </div>
	<div class="images patterns">
		<a href="{% static 'store/themes/css/#' %}" name="pattern1"><img src="{% static 'store/themes/switch/images/pattern/pattern1.png' %}" alt="bootstrap business templates" class="active"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern2"><img src="{% static 'store/themes/switch/images/pattern/pattern2.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern3"><img src="{% static 'store/themes/switch/images/pattern/pattern3.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern4"><img src="{% static 'store/themes/switch/images/pattern/pattern4.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern5"><img src="{% static 'store/themes/switch/images/pattern/pattern5.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern6"><img src="{% static 'store/themes/switch/images/pattern/pattern6.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern7"><img src="{% static 'store/themes/switch/images/pattern/pattern7.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern8"><img src="{% static 'store/themes/switch/images/pattern/pattern8.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern9"><img src="{% static 'store/themes/switch/images/pattern/pattern9.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern10"><img src="{% static 'store/themes/switch/images/pattern/pattern10.png' %}" alt="bootstrap business templates"></a>

		<a href="{% static 'store/themes/css/#' %}" name="pattern11"><img src="{% static 'store/themes/switch/images/pattern/pattern11.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern12"><img src="{% static 'store/themes/switch/images/pattern/pattern12.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern13"><img src="{% static 'store/themes/switch/images/pattern/pattern13.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern14"><img src="{% static 'store/themes/switch/images/pattern/pattern14.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern15"><img src="{% static 'store/themes/switch/images/pattern/pattern15.png' %}" alt="bootstrap business templates"></a>

		<a href="{% static 'store/themes/css/#' %}" name="pattern16"><img src="{% static 'store/themes/switch/images/pattern/pattern16.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern17"><img src="{% static 'store/themes/switch/images/pattern/pattern17.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern18"><img src="{% static 'store/themes/switch/images/pattern/pattern18.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern19"><img src="{% static 'store/themes/switch/images/pattern/pattern19.png' %}" alt="bootstrap business templates"></a>
		<a href="{% static 'store/themes/css/#' %}" name="pattern20"><img src="{% static 'store/themes/switch/images/pattern/pattern20.png' %}" alt="bootstrap business templates"></a>

	</div>
	</div>
</div>
<span id="themesBtn"></span>
</body>
</html>